<h2>Weather Forecast</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temperature (C)</th>
            <th>Temperature (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody id="weatherTable"></tbody>
</table>
   

<script>
    FetchWeatherData();
    function FetchWeatherData(){
    fetch('http://localhost:7878/weatherForecast')
        .then(response => response.json())
        .then(data => {
            const table = document.getElementById('weatherTable');
            data.forEach(forecast => {
                const row = `<tr>
                    <td>${forecast.date}</td>
                    <td>${forecast.temperatureC}</td>
                    <td>${forecast.temperatureF}</td>
                    <td>${forecast.summary}</td>
                </tr>`;
                table.innerHTML += row;
            });
        });
    }
</script>